/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Custom variables */
:root {
  --laptop-width: 79%;
  --laptop-font-size: 12px;
  --highlight-color: #ffad5a;
  --mobile-width: 95%;
  --mobile-font-size: 8px;
  --para-color: rgb(66, 66, 66);
}
html {
  font-size: var(--laptop-font-size);
}
body {
  font-family: "Poppins", sans-serif;
}

/* Common CSS style */
.btn {
  border-radius: 5px;
  background: rgb(255, 89, 89);
  padding: 8px 16px;
  display: inline-block;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 89, 89);
  transition: 0.7s;
}
.btn:hover {
  background-color: transparent;
  color: rgb(255, 89, 89);
}
body span {
  color: var(--highlight-color);
}
/* header section for banner */
header {
  width: var(--laptop-width);
  margin: 0px auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: 1px solid black;
}
header .banner_left {
  display: flex;
  align-items: center;
}
header .banner_left h1 {
  font-size: 5rem;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0px;
}
header .banner_left h1 {
  border-left: 4px solid #ffad5a;
  padding-left: 13px;
}
header .banner_left .banner_details {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 15px 0 22px;
  color: var(--para-color);
}
header .scrol_down {
  font-size: 1.5rem;
  margin-top: 15px;
  color: var(--para-color);
}
header .banner_right {
  display: flex;
  justify-content: center;
}
header .banner_right img {
  width: 95%;
}

/* My mission section */
.mission {
  border: 1px solid black;
  width: var(--laptop-width);
  margin: 70px auto;
}
.mission > h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 38px;
}
.mission .goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.mission .goals .goal {
  border: 1px solid black;
  padding: 28px;
  border-radius: 26px;
  background: rgba(79, 157, 166, 0.1);
}
.mission .goals div:nth-child(2) {
  background: rgba(255, 89, 89, 0.1);
}
.mission .goals div:last-child {
  background: rgb(255, 244, 214);
}
.mission .goal img {
  width: 50%;
}
.mission .goal h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
}
.mission .goal p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgb(66, 66, 66);
}
/* Responsive for mobile device */
@media screen and (max-width: 550px) {
  html {
    font-size: var(--mobile-font-size);
  }

  /* header section for banner */
  header {
    width: var(--mobile-width);
    grid-template-columns: 1fr;
  }
  header .banner_right {
    margin-top: 20px;
  }

  /* My Mission Section */
  .mission {
    width: var(--mobile-width);
  }
  .mission .goals {
    grid-template-columns: 1fr;
  }
  .mission .goals .goal img {
    width: 30%;
  }
}
